includes:
    - phpstan-baseline.neon

parameters:
    level: max
    paths:
        - src
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    ignoreErrors:
        - '#Method LaravelWay\\QueryFilters\\FiltersAbstract::getAvailableFilters\(\) should return#'
